:root {
  /* --main-color: #e18a07; */
  --main-color: #659DBD;
  --background-color: #F1F1F1;
  --black-color: #2B4351;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-body {
  height: calc(100vh);
  /* width: calc(100vw - 1rem); */
  max-width: 30rem;
  font-family: Montserrat;
  position: relative;
  background-color: var(--background-color);
  color: var(--black-color);
}

.chapter-header {
  font-size: 1.5rem;
  padding: 0.7rem 0.5rem 0.7rem 0rem;
  font-weight: bold;
  clear: both;
  text-align: center;
  white-space: pre-wrap;
}

.statusbar {
  display: flex;
  flex-wrap:wrap;
}

.statusbar-name {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 0rem 1rem;
  width: -webkit-fill-available;
}

.statusbar-tiles {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  height: 2.3rem;
  width: -webkit-fill-available;
  margin: 0.1rem;
}

.statusbar-component{
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  height: 2.3rem;
  display: flex;
  margin: 0.1rem;
  align-items: center;
}
.toolbar-compact-icon {
  height: 2rem;
}

.toolbar-compact-text {
  padding: 0 0.3rem;
}

.input-field {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  background: var(--background-color);
  padding: 0.15rem;
  margin: 0rem 1rem 0.2rem 1rem;
}

.input-error {
  color: var(--main-color);
}

.input-text-div {
  place-self: "start";
  padding: "0.2rem 0.23rem";
  width: -webkit-fill-available;
}

.dialog-input-field {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bold;
  place-self: start;
  width: calc(100% - 1rem);
}

/* Character Tile */
.character-tile {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.15rem;
  font-size: 0.75rem;
  margin: 0rem 0.25rem 0.2rem 0.25rem;
}

.character-table {
  width: 100%;
}
.character-table > thead > tr > td {
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.character-table > thead > tr {
  background: #d3d3d3;
}
.character-table > tbody > tr > td {
  padding: 0.15rem 0.5rem 0.1rem;
  text-align: center;
}
.character-table > tbody > tr > td:first-child {
  text-align: left;
  font-weight: bold;
}

.character-table > thead > tr > td:first-child {
  text-align: left;
}

.character-statusbar-table {
  text-align: center;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: -webkit-fill-available;
  margin: 0.1rem;
}

.character-tile-table {
  padding: 0.2rem 0rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
}

.centered-text {
  text-align: center;
}

.modal-header {
  font-size: 1.1rem;
  padding: 0.7rem 0.5rem 0.7rem 0rem;
  font-weight: bold;
  clear: both;
  text-align: center;
  white-space: pre-wrap;
}

.modal-sub-header {
  font-size: 0.85rem;
  text-align: center;
  white-space: pre-wrap;
  font-weight: normal;
  padding-top: 0.5rem;
}

.add-character-background {
  padding: 0.3rem;
  float: left;
  display: grid;
  width: calc(50% - 3rem);
  border: 0.15rem solid;
  margin: 0.3rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
}
.soldier-cost {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: bold;
}
.soldier-type {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
}

.add-character-background-icons {
  width: 3.5rem;
  float: left;
  padding-top: 1rem;
  place-self: center;
}

.background-stat-selection {
  padding: 1rem 0.5rem;
  border: 0.15rem solid;
  margin: 0.25rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.improved-stat {
  color: var(--main-color);
  font-weight: bold;
}

.btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 1.3rem;
  background-color: var(--main-color);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  place-self: center;
}
.soldier-selection-amount {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 30% 40% 30%;
  padding-top: 1rem
}

.dialog-btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: var(--main-color);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  bottom: 0rem;
  margin-top: 0.5rem;
}

.xp-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: grid;
  grid-template-columns: 75% 25%;
}

.loot-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  /* text-align: center; */
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: flex;
  /* grid-template-columns: 50% 50%; */
  flex-direction: column;
}

.pdf-xp-checkbox-container {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: flex;
  justify-content: space-between;
}

.pdf-xp-checkbox {
  border: 2px solid var(--black-color);
  width: 1rem;
  margin: 0.2rem;
  height: 1rem;
  float: right;
  line-height: 1rem;
  text-align: center;
  font-size: 1rem;
}

.pdf-xp-total {
  border: 2px solid var(--black-color);
  width: 22rem;
  margin: 0.3rem;
  height: 6rem;
  float: left;
}

.pdf-switch {
  font-size: 1.2rem;
  font-weight: bold;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.pdf-threeway-switch {
  font-size: 1.2rem;
  font-weight: bold;

  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.pdf-sub-switch {
  padding: 0.4rem 0.5rem;
}

.injuries-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.improvement-btn {
  font-size: 1.0rem;
  /* font-weight: bold; */
  padding: 0.4rem 0.5rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  /* text-align: center; */
  bottom: 0rem;
  margin-top: 0.2em;
  display: grid;
  /* grid-template-columns: 75% 25%; */
}

.improvement-token {
  padding: 0.4rem 0.5rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  margin: 0.2rem 0rem;
}

.carousel-btn {
  font-size: 1rem;
  background-color: var(--main-color);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  grid-area: 1;
}

.close-btn {
  margin-left: 0.5rem;
}

.back-btn {
  background-color: var(--background-color);
}

.confirm-btn {
  float: right;
  margin-bottom: 1rem;
}

.disabled {
  cursor: context-menu;
  opacity: 0.3;
  background: #d3d3d3;
  pointer-events: none;
}

.power-selection {
  padding: 0.35rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.2rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  width: calc(100% - 1rem);
  font-size: 1.1rem;
  position: relative;
}

.cargo-item {
  padding: 0.35rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.2rem 0rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.cargo-dropdown-selection {
  padding: 1rem;
  border: 0.15rem solid;
  margin: 0.2rem;
  border-radius: 0.25rem;
  text-align: center;
  float: right;
  font-size: 1rem;
  font-weight: bold;
}
.cargo-item-btn {
  padding: 0.35rem 1rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.2rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  float: left;
}
.cargo-item-details-btn {
  padding: 1rem;
  border: 0.15rem solid;
  margin: 0.2rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  float: right;
  font-weight: bold;
}
.cargo-tile {
  padding: 0.3rem;
  display: grid;
  border: 0.15rem solid;
  margin: 0.3rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.background-power-selection {
  padding: 0.5rem;
  border: 0.15rem solid;
  margin: 0rem 0.4rem 0.4rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  width: calc(50% - 1.7rem);
  font-size: 1.1rem;
}

.gear-selection {
  padding: 0.3rem;
  border: 0.15rem solid;
  margin: 0rem 0.1rem 0.2rem 0.1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
}

.loot-selection {
  padding: 0.3rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.4rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
  width: 45%;
}

.credits-selection {
  padding: 0.5rem 1rem;
  border: 0.15rem solid;
  margin: 0.3rem ;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
  float: left;
}

.selected {
  background-color: var(--main-color);
}

.power-preview-section {
  padding: 0.2rem 0.4rem;
  text-align: center;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  height: 18rem;
  margin-top: 1rem;
}

.power-preview-name {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.power-preview-infos {
  font-size: 0.85rem;
}

.small-text {
  font-size: 0.7rem;
    font-weight: normal;
}

.medium-text {
  font-size: 0.75rem;
}
.very-large-text {
  font-size: 3rem;
  place-self: center;
  font-weight: bold;
}

.large-text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

.power-preview-medium-text {
  font-size: 0.75rem;
  padding-top: 0.75rem;
}

.power-preview-small-text {
  font-size: 0.7rem;
  padding-top: 0.5rem;
}

.single-selection-gear {
  width: calc(50%);
}

.dropdown-portal {
  position: fixed;
  background-color: #f3f3f3;
  border: 2px solid #343434;
  z-index: 1;
  overflow-y: auto;
  /* max-height: 200px; */
}

.dropdown-input {
  width: calc(100% - 1rem);
  margin: 0rem;
  font-family: Montserrat;
  outline: none;
}
.dropdown-input-list {
  border: none;
  border-radius: 0rem;
  border-bottom: 1px solid;
  width: calc(100% - 0.6rem);
  padding: 1rem 0rem;
}
.emphasized {
  font-weight: bold;
}

.full-width {
  width: calc(100% - 1.3rem)
}

.info-click-area {
  position: absolute;
  right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.info-click-area-non-core {
  position: absolute;
  right: 0.5rem;
  width: 3.5rem;
  top: 0rem;
  height: 3.4rem;
}

.info-corner {
  position: absolute;
  right: 1.3rem;
  border-left: 2.3rem solid transparent;
  border-top: 2.3rem solid var(--main-color);
  width: 0;
  height: 0;
}

.info-corner-soldiers {
  position: absolute;
  right: 1.3rem;
  border-left: 1.3rem solid transparent;
  border-top: 1.3rem solid var(--main-color);
  width: 0;
  height: 0;
  top: 0.5rem;
}

.info-corner-text {
  position: absolute;
  right: 1.3rem;
  padding-right: 0.3rem;
  padding-top: 0.1rem;
  font-weight: bold;
  font-family: monospace;
}

.inverted {
  filter: invert(0.7);
}

.foreground {
  z-index: 100;
}

.carousel {
  float: left;
  /* height: 32rem; */
  width: 100%;
  padding-bottom: 1rem
}

.file-ops-icon {
  place-self: center;
  width: 30%;
}

.vertical-splitter {
  height: 30%;
}

.landing-page-tile {
  height: 13rem;
  border: 2px solid;
  border-radius: 0.35rem;
  margin: 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-tile {
  height: 11rem;
  border: 2px solid;
  margin: 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-tile {
  height: 4.5rem;
  border: 2px solid;
  margin: 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-tile-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.transaction-tile-header {
  font-size: 1.5rem;
  padding: 0.7rem 0.5rem 0.7rem 0rem;
  font-weight: bold;
  text-align: center;
}

.page-btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  margin: 1rem 1rem 0rem;
  width: -webkit-fill-available;
}

.shipname-icon {
  width: 2.2rem;
}

.shipname {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  margin: 0.1rem 0.25rem;
  width: -webkit-fill-available;
  flex-direction: row;
}

.pdf-container {
  width: 29.7cm;
  height: 21cm;
  margin: 10mm;
  padding: 10mm;
  font-family: sans-serif;
  font-size: 12px;
  position: absolute;
  top: -10000px;
}
.pdf-container-clone {
  width: 29.7cm;
  height: 21cm;
  margin: 10mm;
  padding: 10mm;
  font-family: sans-serif;
  font-size: 12px;
  position: absolute;
  top: -10000px;
}
.pdf-divider {
  width: 50%;
  float:left;
  font-weight: bold;
}
.medium-pdf-text {
  font-size: 0.9rem;
  font-weight: normal;
}

.pdf-header {
  width: calc(100% - 1.1rem);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
}

.pdf-header-title {
  padding: 0.2rem 0rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
}

.pdf-tile {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.15rem;
  float: left;
  width: calc(100% - 1.1rem);
  font-size: 0.75rem;
}

.pdf-soldier-tile {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.15rem;
  float: left;
  width: calc(50% - 1.1rem);
  font-size: 0.75rem;
}

.storage-table {
  border: 1px solid var(--black-color);
  border-radius: 0.25rem;
  margin: 0rem 1rem;
}
.storage-table > thead > tr {
  font-weight: bold;
}
.storage-table > thead > tr > td{
  font-weight: bold;
  border-bottom: 1px solid var(--black-color);
}
.storage-table > tbody > tr > td {
  padding: 0.75rem 0rem;
}

.dialog-btn-danger {
  background-color: orangered !important;
  color: white;
  border-color: var(--black-color);
}

.experience-label {
  font-size: 1.5rem;
  place-self: center;
}
.experience-input {
  border-width: thin;
  font-size: 1.5rem;
  font-weight: bold;
  width: calc(100% - 0.2rem);
  font-family: Montserrat;
  text-align: center;
}

.experience-input-error {
  border-color: orangered ;
}


.transaction-list {
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  bottom: 0rem;
  margin: 0.2em 0rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.transaction-sum {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  border-top: 0.15rem solid;
  display: flex;
  justify-content: space-between;
}

.power-card {
  border: 0.05rem solid;
  display: grid;
  width: 21rem;
  height: 14rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  text-align: center;
  justify-self: center;
  background: #fcfcfc;
  float: left;
}

.power-card-header {
  grid-area: 1 / 1;
  align-self: end;
  font-size: 1.1rem;
  font-weight: bold;
}

.power-card-second-header {
  grid-area: 2 / 1;
  align-self: start;
  font-size: 0.87rem;
}

.power-card-text {
  grid-area: 3 / 1;
  align-self: start;
  font-size: 0.78rem;
}

.soldier-gear {
  padding: 0.3rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.4rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
}

.modal {
  position: absolute;
    height: 87.5%;
    margin-left: 4%;
    margin-top: 12.5%;
    width: 92%;
    background: var(--background-color);
    border: 2px solid;
    z-index: 1;
}

.upgrade-text {
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 1.1rem;
}

.list-item {
  padding: 0.35rem;
  border: 0.15rem solid;
  margin: 0rem 1rem 0.2rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100%;
}

.background-flex-container {
  display: flex;
  text-align: center;
  max-height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-character-tile {
  padding: 1rem;
  display: flex;
  width: calc(50% - 3.5rem);
  border: 0.15rem solid;
  margin: 1rem 0rem;
  border-radius: 0.25rem;
  justify-content: space-evenly;
}


.pdf-crew-manifest-boxes {
  border: 2px solid var(--black-color);
  /* padding: "0.2rem"; */
  margin: 0rem 0.1rem;
  /* font-size: "1.2rem"; */
  /* font-weight: "bold"; */
}

.pdf-normal-size {
  font-size: 1.0rem;
}

.pdf-smaller-size {
  font-size: 0.9rem;
}