.app-body {
  height: calc(100vh - 1.5rem);
  width: calc(100vw - 1rem);
  font-family: Montserrat;
  position: relative;
}

.backgrounds-image {
  width: 3rem;
  height: 3rem;
}

.landing-page {
  text-align: center;
  font-weight: bold;
  display: grid;
  max-width: 30rem;
}

.landing-page-tile {
  padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.35rem;
    margin: 1rem;
}

.landing-page-tile:hover {
  border: 0.1rem solid darkgrey !important;
  background: #e18a07;
  filter: invert(0);
}

.landing-page-header {
  font-size: 1.3rem;
}

.landing-page-title {
  font-size: 1.4rem;
}

.landing-page-icon {
  width: 50%;
}

.chapter-header {
  font-size: 1.5rem;
  padding: 0.7rem 0.5rem 0.7rem 0rem;
  font-weight: bold;
  clear: both;
  text-align: center;
  white-space: pre-wrap;
}
/* Builder Statusbar */

.builder-statusbar {
  padding: 0.2rem;
  height: 3.8rem;
  grid-area: 1/1/1/auto;
  height: 4.5rem;
  display: inline-grid;
  grid-template-columns: auto 6rem 9rem 10rem 4rem;
}

.compact-builder-statusbar {
  display: inline-grid;
  grid-template-columns: auto 4rem 9rem 8rem 4rem;
  width: 100%;
}

.statusbar {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap:wrap;
}

.statusbar-name {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  width: calc(100vw - 2rem);
}

.statusbar-tiles {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  display: grid;
  font-weight: bold;
  font-size: 1.5rem;
  float: left;
  height: 2.3rem;
  min-width: 10%;
  flex: 1 1 auto;
}

.toolbar-icon {
  border: 0.05rem solid transparent;
  border-radius: 0.35rem;
  padding: 0.2rem;
  height: 2rem;
  float: right;
  place-self: end;
  cursor: pointer;
  grid-area: 2 / 1;
}

.compact-save-icon {
  border: 0.05rem solid transparent;
  border-radius: 0.35rem;
  padding: 0.2rem;
  height: 2rem;
  float: right;
  place-self: end;
  cursor: pointer;
  grid-area: 2 / 1;
}

.compact-statusbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: inline-grid;
  grid-template-columns: auto 9rem 10rem 4rem;
  width: calc(100% - 0.2rem);
}
.toolbar-compact-icon {
  height: 2rem;
  place-self: center;
  grid-area: 1 / 1;
}

.toolbar-compact-text {
  place-self: center;
  padding: 0 0.25rem;
  grid-area: 1 / 2;
}
/*
.toolbar-icon:hover {
  border:  0.05rem solid darkgrey !important;
  background: #e18a07;
} */

.toolbar-text {
  place-self: center;
  padding: 0 0.25rem;
}

.toolbar-two-column-header-text {
  grid-area: 1 / 1 / 1 / span 2;
}

.toolbar-three-column-header-text {
  grid-area: 1 / 1 / 1 / span 3;
}

.input-field {
  font-size: 1.5rem;
  font-weight: bold;
  place-self: start;
  width: calc(100% - 1rem);
  font-family: Montserrat;
}

.input-error {
  color: rgb(225, 138, 7);
}

.input-text-div {
  place-self: "start";
  padding: "0.2rem 0.23rem";
  width: calc(100% - 1rem);
}

.dialog-input-field {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bold;
  place-self: start;
  width: calc(100% - 1rem);
}

/* Character Tile */
.character-tile {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.15rem;
  float: left;
  width: calc(100vw - 2.1rem);
  font-size: 0.75rem;
}
.character-title {
  background: rgb(169, 169, 169);
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: bold;
  float: left;
  width: calc(100% - 1.3rem);
  margin-left: 0.15rem;
}
.character-title-left {
  float: left;
}
.character-title-right {
  float: right;
}
.power-table {
  float: right;
}
.power-table > tbody > tr > td:nth-child(even) {
  text-align: center;
}
.power-table > thead > tr > td:last-child {
  text-align: center;
}

.character-table {
  width: 100%;
}
.character-table > thead > tr > td {
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.character-table > thead > tr {
  background: #d3d3d3;
}
.character-table > tbody > tr > td {
  padding: 0.15rem 0.5rem 0.1rem;
  text-align: center;
}
.character-table > tbody > tr > td:first-child {
  text-align: left;
  font-weight: bold;
}

.character-table > thead > tr > td:first-child {
  text-align: left;
}
.small-text {
  font-size: 0.7rem;
    font-weight: normal;
}
.background-image {
  width: 20%;
  padding: 1rem 1rem 0rem 1rem;
}
.background-image-tile {
  width: 5rem;
  padding: 1rem 1rem 0rem 1rem;
}
.background-title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

/* Add Character Tile */
.add-character-tile {
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  float: left;
  margin-bottom: 1rem;
}

.character-statusbar-table {
  text-align: center;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
  grid-area: 2 / 1 / 2 /3;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}

.character-tile-table {
  padding: 0.2rem 0rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
}

.centered-text {
  text-align: center;
}

.add-image {
  padding: 1rem 40%;
}

.add-title {
  padding-bottom: 1rem;
}

.gear-div {
  float: left;
  padding-left: 0.5rem;

}

.modal {
  position: fixed;
  background-color: #f3f3f3;
  border: 1px solid grey;
  z-index: 1;
  width: calc(100% - 0.1rem);
  height: calc(100% - 0.1rem);
}

.modal-header {
  font-size: 1.1rem;
  padding: 0.7rem 0.5rem 0.7rem 0rem;
  font-weight: bold;
  clear: both;
  text-align: center;
  white-space: pre-wrap;
}

.modal-sub-header {
  font-size: 0.85rem;
  text-align: center;
  white-space: pre-wrap;
  font-weight: normal;
  padding-top: 0.5rem;
}

.block-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

.add-soldier-list-container {
  width: calc(50% - 1rem);
  float: left;
  padding-left: 0.5rem;
}

.add-soldier-list-header {
  font-weight: bold;
  padding-bottom: 0.3rem;
}
.add-soldier-list-item {
  max-width: 17rem;
  clear: both;
  grid-area: auto/ 1;
  cursor: pointer;
}

.add-soldier-list-item:hover {
  background: #e18a07;
}

.add_dialog_icons {
  width: 1.7rem;
  float: left;
}

.add_dialog_soldier_selection {
  padding: 0.25rem;
}

.totals-td {
  border-top: 1px solid;
  padding-top: 0.25rem;
}

.add-character-background {
  padding: 0.3rem;
  float: left;
  display: grid;
  width: calc(50% - 1.2rem);
  border: 0.15rem solid;
  margin: 0.15rem;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
}
.soldier-cost {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: bold;
}
.soldier-type {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
}

.add-character-background:hover {
  font-weight: bold;
  border-color: #e18a07;
}

.add-character-background-container {
  width: calc(100% - 2rem);
  float: left;
  padding-top: 0.3rem;
}

.character-small-background-container {
  width: calc(50% - 2rem);
  float: left;
  padding-top: 0.3rem;
}

.add-character-background-icons {
  width: 3.5rem;
  float: left;
  padding-top: 1rem;
  place-self: center;
}

.medium-text {
  font-size: 0.75rem;
}

.background-selected {
  background-color: #e18a07;
}
.add-character-background.background-selected:hover {
  border-color: #d3d3d3;
}

.background-stat-selection {
  padding: 1rem 0.5rem;
  float: left;
  width: calc(100% - 1.3rem);
  border: 0.15rem solid;
  margin: 0.3rem 0.3rem 0.3rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.background-stat-selected {
  background-color: #e18a07;
}


.improved-stat {
  color: #e18a07;
  font-weight: bold;
}

.btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 1.3rem;
  background-color: rgb(225, 138, 7);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  place-self: center;
}
.soldier-selection-amount {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 30% 40% 30%;
  padding-top: 1rem
}

.very-large-text {
  font-size: 3rem;
  place-self: center;
  font-weight: bold;
}

.dialog-btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: rgb(225, 138, 7);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  position: absolute;
  bottom: 0rem;
}

.carousel-btn {
  font-size: 1rem;
  background-color: rgb(225, 138, 7);
  border: 0.15rem solid;
  border-radius: 0.25rem;
  text-align: center;
  grid-area: 1;
}

.back-btn {
  left: 0rem;
}

.confirm-btn {
  right: 0rem;
}

.disabled {
  cursor: context-menu;
  opacity: 0.3;
  background: #d3d3d3;
  pointer-events: none;
}

.core-power-section {
  width: 20%;
  float: left;
}

.non-core-power-section {
  width: 80%;
  float: left;
}

.gear-section {
  width: 49%;
  float: left;
}

.power-selection {
  padding: 0.35rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.2rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  width: calc(100% - 1.3rem);
  font-size: 1.1rem;
  position: relative;
}

.noncore-power {
  width: calc(100% - 5.3rem);
  margin: 0rem 0.4rem 0.4rem 2rem;
  position: relative;
}

.background-power-selection {
  padding: 0.5rem;
  border: 0.15rem solid;
  margin: 0rem 0.4rem 0.4rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  width: calc(50% - 1.7rem);
  font-size: 1.1rem;
}

.gear-selection {
  padding: 0.3rem;
  border: 0.15rem solid;
  margin: 0rem 0rem 0.4rem 0rem;
  border-radius: 0.25rem;
  text-align: center;
  float: left;
  font-size: 1rem;
  width: calc(100% - 0.95rem);
}

.selected {
  background-color: #e18a07;
}
.power-overview-container {
  float: left;
  width: 100%;
  margin-top: 1rem;
}

.power-overview-hint {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.power-preview-section {
  padding: 0.2rem 0.4rem;
  text-align: center;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  height: 12rem;
  margin-top: 1rem;
}

.power-preview-name {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.power-preview-infos {
  font-size: 0.85rem;
}

.large-text {
  font-size: 0.9rem;
  padding-top: 1rem;
}

.power-preview-medium-text {
  font-size: 0.75rem;
  padding-top: 0.75rem;
}

.power-preview-small-text {
  font-size: 0.7rem;
  padding-top: 0.5rem;
}

.single-selection-gear {
  width: calc(50%);
  float: left;
}

.dropdown-portal {
  position: fixed;
  background-color: #f3f3f3;
  border: 2px solid #343434;
  z-index: 1;
  overflow-y: auto;
  max-height: 200px;
}

.dropdown-input {
  width: calc(100% - 1rem);
  margin: 0rem;
  font-family: Montserrat;
  outline: none;
}
.dropdown-input-list {
  border: none;
  border-radius: 0rem;
  border-bottom: 1px solid;
  width: calc(100% - 0.6rem);
}
.gear-label-name {
  font-weight: bold;
}

.full-width {
  width: calc(100% - 1.3rem)
}

.info-click-area {
  position: absolute;
  right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.info-click-area-non-core {
  position: absolute;
  right: 0.5rem;
  width: 3.5rem;
  top: 0rem;
  height: 3.4rem;
}


.info-corner {
  position: absolute;
  right: 1.3rem;
  border-left: 2.3rem solid transparent;
  border-top: 2.3rem solid #e18a07;
  width: 0;
  height: 0;
}

.info-corner-soldiers {
  position: absolute;
  right: 1.3rem;
  border-left: 1.3rem solid transparent;
  border-top: 1.3rem solid #e18a07;
  width: 0;
  height: 0;
  top: 0.5rem;
}

.soldier-selection {
  float: left;
  width: calc(50% - 1rem);
  border: 0.15rem solid;
  margin: 0.15rem;
  padding: 0.3rem;
  border-radius: 0.25rem;
}

.info-corner-text {
  position: absolute;
  right: 1.3rem;
  padding-right: 0.3rem;
  padding-top: 0.1rem;
  font-weight: bold;
  font-family: monospace;
}

.info-icon {
  height: 1rem;
}

.noncore-click-info {
  right: 2.8rem;
}

.inverted {
  filter: invert(0.7);
}

.foreground {
  z-index: 100;
}

.carousel {
  float: left;
  /* height: 32rem; */
  width: 100%;
  padding-bottom: 1rem
}

.file-uploader {
  display: grid;
}

.file-uploader-icon {
  place-self: center;
  width: 50%;
}

.vertical-splitter {
  height: 40%;
}